	.mediaViewInfo {
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1920__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1920__1 {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#BG {
		position: absolute;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Contact_Us {
		left: 42px;
		top: 963px;
		position: absolute;
		overflow: visible;
		width: 136px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(112,112,112,1);
		cursor: pointer;
	}
	#Button_3 {
		left: 1496px;
		top: 555px;
		position: absolute;
		overflow: visible;
		width: 178px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(255,255,255,1);
		cursor: pointer;
	}
	#Mobo {
		position: absolute;
		width: 984px;
		height: 716px;
		left: 897px;
		top: 140px;
		overflow: visible;
	}
	#Intel {
		left: 599px;
		top: 338px;
		position: absolute;
		overflow: visible;
		width: 55px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(255,255,255,1);
	}
	#AMD {
		left: 599px;
		top: 298px;
		position: absolute;
		overflow: visible;
		width: 64px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(255,255,255,1);
	}
	#Asus_Motherboards {
		left: 599px;
		top: 239px;
		position: absolute;
		overflow: visible;
		width: 386px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		color: rgba(255,255,255,1);
	}
	#mobo {
		position: absolute;
		width: 717px;
		height: 716px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Button_4 {
		left: 73px;
		top: 601px;
		position: absolute;
		overflow: visible;
		width: 120px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(112,112,112,1);
		cursor: pointer;
	}
	#Text {
		position: absolute;
		width: 738px;
		height: 285px;
		left: 73px;
		top: 286px;
		overflow: visible;
	}
	#Being_the_official_resellers_a {
		left: 0px;
		top: 93px;
		position: absolute;
		overflow: visible;
		width: 739px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		color: rgba(112,112,112,1);
	}
	#Buy_From_The_Best {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 511px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 58px;
		color: rgba(112,112,112,1);
	}
	#Button1 {
		position: absolute;
		width: 144px;
		height: 70px;
		left: 1723px;
		top: 38px;
		overflow: visible;
		cursor: pointer;
	}
	#Rectangle_1 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 144px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Join_Us {
		left: 28px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 89px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(112,112,112,1);
	}
	#Nav_bar {
		position: absolute;
		width: 517px;
		height: 37px;
		left: 303px;
		top: 71px;
		overflow: visible;
	}
	#Home {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 76px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(112,112,112,1);
		cursor: pointer;
	}
	#Products {
		left: 115px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(112,112,112,1);
		cursor: pointer;
	}
	#Services {
		left: 263px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 100px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(112,112,112,1);
		cursor: pointer;
	}
	#About_Us {
		left: 402px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 116px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(112,112,112,1);
		cursor: pointer;
	}
	#Logo_Retro {
		position: absolute;
		width: 155px;
		height: 102px;
		left: 73px;
		top: 38px;
		overflow: visible;
	}